# Open-ended Capstone Step Four: Data Exploration

perform exploratory data analysis (EDA) in order to gain a better understanding of your data

In [15]:
# Import packages
import pandas as pd
import numpy as np
import zipfile

In [4]:
#upzip file and use pd.read_csv to seperate colomn
with zipfile.ZipFile("20220104.gkg.csv.zip") as z:
    with z.open("20220104.gkg.csv") as f: 
        global_20220104 = pd.read_csv(f, header=0, delimiter="\t")  #in each colomn, use \t to seperate values
        print(global_20220104.head())

       DATE  NUMARTS                                 COUNTS  \
0  20220103        1                                    NaN
1  20220103        1                                    NaN
2  20220103        1                                    NaN
3  20220103        1  AFFECT#19##1#Pakistan#PK#PK#30#70#PK;
4  20220103        1                                    NaN

                                              THEMES  \
0  TAX_FNCACT;TAX_FNCACT_AUTHOR;TAX_FNCACT_ACTOR;...
1  EDUCATION;SOC_POINTSOFINTEREST;SOC_POINTSOFINT...
2  TAX_FNCACT;TAX_FNCACT_WOMAN;RAPE;TAX_FNCACT_PR...
3  TAX_DISEASE;TAX_DISEASE_COVID-19;AFFECT;EDUCAT...
4             LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;

                                           LOCATIONS  \
0  3#Hollywood, California, United States#US#USCA...
1  2#Arizona, United States#US#USAZ#33.7712#-111....
2  2#Virginia, United States#US#USVA#37.768#-78.2...
3                          1#Pakistan#PK#PK#30#70#PK
4  4#Lagos, Lagos, Nigeria#NI#NI05#6.45306#3.3958...

                                             PERSONS  \
0                betty white;jeff witjas;don cheadle
1  las animas perdidas;betty jo riddenoure;betty ...
2                    jeffrey epstein;roberts giuffre
3                                          ceos deas
4  ibijoke sanwo-olu;tokunbo abiru;enoch adejare ...

                                       ORGANIZATIONS  \
0                      postmedia network inc;twitter
1  national geographic;american museum of natural...
2                                                NaN
3                                  operations centre
4  home affairs;lagos state new year thanksgiving...

                                                TONE          CAMEOEVENTIDS  \
0  4.83558994197292,5.8027079303675,0.96711798839...  1021605582,1021584510
1  -0.945179584120983,1.60680529300567,2.55198487...                    NaN
2  -8.82352941176471,5.88235294117647,14.70588235...                    NaN
3  -0.266666666666667,2.4,2.66666666666667,5.0666...                    NaN
4  2.203182374541,3.91676866585067,1.713586291309...                    NaN

               SOURCES                                         SOURCEURLS
0       calgarysun.com  https://calgarysun.com/entertainment/celebrity...
1    balloon-juice.com  https://www.balloon-juice.com/2022/01/03/on-th...
2           biztoc.com                      https://biztoc.com/p/9be8pix2
3           dnd.com.pk  https://dnd.com.pk/ncoc-online-portal-for-self...
4  tribuneonlineng.com  https://tribuneonlineng.com/2022-will-be-a-sea...

In [7]:
# look at the first five rows of the nfl_data file. 
#can see a handful of missing data already!
global_20220103.head(10)

,DATE,NUMARTS,COUNTS,THEMES,LOCATIONS,PERSONS,ORGANIZATIONS,TONE,CAMEOEVENTIDS,SOURCES,SOURCEURLS
0,20220103,1,NaN,TAX_FNCACT;TAX_FNCACT_AUTHOR;TAX_FNCACT_ACTOR;...,"3#Hollywood, California, United States#US#USCA...",betty white;jeff witjas;don cheadle,postmedia network inc;twitter,"4.83558994197292,5.8027079303675,0.96711798839...","1021605582,1021584510",calgarysun.com,https://calgarysun.com/entertainment/celebrity...
1,20220103,1,NaN,EDUCATION;SOC_POINTSOFINTEREST;SOC_POINTSOFINT...,"2#Arizona, United States#US#USAZ#33.7712#-111....",las animas perdidas;betty jo riddenoure;betty ...,national geographic;american museum of natural...,"-0.945179584120983,1.60680529300567,2.55198487...",NaN,balloon-juice.com,https://www.balloon-juice.com/2022/01/03/on-th...
2,20220103,1,NaN,TAX_FNCACT;TAX_FNCACT_WOMAN;RAPE;TAX_FNCACT_PR...,"2#Virginia, United States#US#USVA#37.768#-78.2...",jeffrey epstein;roberts giuffre,NaN,"-8.82352941176471,5.88235294117647,14.70588235...",NaN,biztoc.com,https://biztoc.com/p/9be8pix2
3,20220103,1,AFFECT#19##1#Pakistan#PK#PK#30#70#PK;,TAX_DISEASE;TAX_DISEASE_COVID-19;AFFECT;EDUCAT...,1#Pakistan#PK#PK#30#70#PK,ceos deas,operations centre,"-0.266666666666667,2.4,2.66666666666667,5.0666...",NaN,dnd.com.pk,https://dnd.com.pk/ncoc-online-portal-for-self...
4,20220103,1,NaN,LEADER;TAX_FNCACT;TAX_FNCACT_GOVERNOR;,"4#Lagos, Lagos, Nigeria#NI#NI05#6.45306#3.3958...",ibijoke sanwo-olu;tokunbo abiru;enoch adejare ...,home affairs;lagos state new year thanksgiving...,"2.203182374541,3.91676866585067,1.713586291309...",NaN,tribuneonlineng.com,https://tribuneonlineng.com/2022-will-be-a-sea...
5,20220103,1,NaN,WB_2024_ANTI_CORRUPTION_AUTHORITIES;WB_696_PUB...,"4#Jammu, Jammu And Kashmir, India#IN#IN12#32.7...",amar abdul rehman;anas abdul rahiman;deepthi m...,national investigation agency,"-8.03212851405623,0.401606425702811,8.43373493...",NaN,latestly.com,https://www.latestly.com/agency-news/india-new...
6,20220103,2,NaN,TAX_FNCACT;TAX_FNCACT_CHIEF;GENERAL_GOVERNMENT...,"4#Cape Town, Western Cape, South Africa#SF#SF1...",pemmy majodina,NaN,"-4.18848167539267,1.04712041884817,5.235602094...",NaN,timeslive.co.za;sowetanlive.co.za,https://www.timeslive.co.za/politics/2022-01-0...
7,20220103,1,NaN,TAX_ETHNICITY;TAX_ETHNICITY_KOREAN;TAX_WORLDLA...,"1#Malaysia#MY#MY#2.5#112.5#MY;4#Pyongyang, P'y...",aldgra fredly;asia pacific,yonhap news agency;united states,"-2.40963855421687,1.20481927710843,3.614457831...","1021603259,1021613681,1021613682,1021613688,10...",theepochtimes.com,https://www.theepochtimes.com/south-koreas-moo...
8,20220103,1,NaN,ENV_MINING;UNGP_FORESTS_RIVERS_OCEANS;,"3#Rocky Fork, Missouri, United States#US#USMO#...",austin rehagen;mike mueller,department of natural resources;historical soc...,"-2.89193302891933,1.90258751902588,4.794520547...",NaN,columbiamissourian.com,https://www.columbiamissourian.com/news/local/...
9,20220103,1,NaN,NaN,"4#Jammu, Jammu And Kashmir, India#IN#IN12#32.7...",mohan meakin;mount shivalik;prem dewan,kingfisher;carlsberg;mohan meakin ltd in solan...,"2.9082774049217,3.80313199105145,0.89485458612...","1021592631,1021592945",daijiworld.com,https://www.daijiworld.com/news/newsDisplay?ne...

In [14]:
missing_values_count = global_20220103.isnull().sum()
missing_values_count[:]

DATE                 0
NUMARTS              0
COUNTS           42671
THEMES            5628
LOCATIONS            0
PERSONS          10104
ORGANIZATIONS    10387
TONE                 0
CAMEOEVENTIDS    27241
SOURCES              0
SOURCEURLS           0
dtype: int64

In [16]:
# how many total missing values do we have?
total_cells = np.product(global_20220103.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

17.372969511235418

In [17]:
# Filter columns
global_20220103 = global_20220103.drop(['COUNTS', 'THEMES', 'SOURCES', 'SOURCEURLS'], axis=1)
global_20220103.head(5)

,DATE,NUMARTS,LOCATIONS,PERSONS,ORGANIZATIONS,TONE,CAMEOEVENTIDS
0,20220103,1,"3#Hollywood, California, United States#US#USCA...",betty white;jeff witjas;don cheadle,postmedia network inc;twitter,"4.83558994197292,5.8027079303675,0.96711798839...","1021605582,1021584510"
1,20220103,1,"2#Arizona, United States#US#USAZ#33.7712#-111....",las animas perdidas;betty jo riddenoure;betty ...,national geographic;american museum of natural...,"-0.945179584120983,1.60680529300567,2.55198487...",NaN
2,20220103,1,"2#Virginia, United States#US#USVA#37.768#-78.2...",jeffrey epstein;roberts giuffre,NaN,"-8.82352941176471,5.88235294117647,14.70588235...",NaN
3,20220103,1,1#Pakistan#PK#PK#30#70#PK,ceos deas,operations centre,"-0.266666666666667,2.4,2.66666666666667,5.0666...",NaN
4,20220103,1,"4#Lagos, Lagos, Nigeria#NI#NI05#6.45306#3.3958...",ibijoke sanwo-olu;tokunbo abiru;enoch adejare ...,home affairs;lagos state new year thanksgiving...,"2.203182374541,3.91676866585067,1.713586291309...",NaN

In [20]:
global_20220103 = global_20220103.dropna(axis=0,subset=['CAMEOEVENTIDS'])

In [21]:
#Check missing value again, now we don't have blank value for CAMEOEVENTIDS column
missing_values_count = global_20220103.isnull().sum()
missing_values_count[:]

DATE                0
NUMARTS             0
LOCATIONS           0
PERSONS          3246
ORGANIZATIONS    3586
TONE                0
CAMEOEVENTIDS       0
dtype: int64

In [23]:
print(global_20220103['DATE'].head())

0     20220103
7     20220103
9     20220103
10    20220103
12    20220103
Name: DATE, dtype: int64

In [30]:
# create a new column, date_parsed, with the parsed dates
global_20220103['date_parsed'] = pd.to_datetime(global_20220103['DATE'], format="%Y%m%d")

In [31]:
global_20220103['date_parsed'].head()

0    2022-01-03
7    2022-01-03
9    2022-01-03
10   2022-01-03
12   2022-01-03
Name: date_parsed, dtype: datetime64[ns]

In [33]:
global_20220103.head()

,DATE,NUMARTS,LOCATIONS,PERSONS,ORGANIZATIONS,TONE,CAMEOEVENTIDS,date_parsed
0,20220103,1,"3#Hollywood, California, United States#US#USCA...",betty white;jeff witjas;don cheadle,postmedia network inc;twitter,"4.83558994197292,5.8027079303675,0.96711798839...","1021605582,1021584510",2022-01-03
7,20220103,1,"1#Malaysia#MY#MY#2.5#112.5#MY;4#Pyongyang, P'y...",aldgra fredly;asia pacific,yonhap news agency;united states,"-2.40963855421687,1.20481927710843,3.614457831...","1021603259,1021613681,1021613682,1021613688,10...",2022-01-03
9,20220103,1,"4#Jammu, Jammu And Kashmir, India#IN#IN12#32.7...",mohan meakin;mount shivalik;prem dewan,kingfisher;carlsberg;mohan meakin ltd in solan...,"2.9082774049217,3.80313199105145,0.89485458612...","1021592631,1021592945",2022-01-03
10,20220103,1,"1#Saudi Arabia#SA#SA#25#45#SA;4#Red Sea, Djibo...",NaN,NaN,"-5.88235294117647,0,5.88235294117647,5.8823529...","1021614643,1021621687,1021621688",2022-01-03
12,20220103,1,"4#Toronto, Ontario, Canada#CA#CA08#43.6667#-79...",zaira wasim;priyanka chopra;white tiger;rajkum...,toronto international film festival,"-1.54798761609907,2.47678018575851,4.024767801...",1021611109,2022-01-03

In [34]:
# Open count file
with zipfile.ZipFile("20220104.gkgcounts.csv.zip") as z:
    with z.open("20220104.gkgcounts.csv") as f:
        globalcounts_20220104 = pd.read_csv(f, header=0, delimiter="\t")
        print(globalcounts_20220104.head())    # print the first 5 rows

       DATE  NUMARTS               COUNTTYPE  NUMBER       OBJECTTYPE  \
0  20220104        2                  AFFECT       5              NaN
1  20220104        1  CRISISLEX_CRISISLEXREC      48              NaN
2  20220104        1        SOC_GENERALCRIME      20          accused
3  20220104        1                    KILL     524         resident
4  20220104       73                  AFFECT      35  service members

   GEO_TYPE                            GEO_FULLNAME GEO_COUNTRYCODE  \
0         3  Carmel Church, Virginia, United States              US
1         4                     Delhi, Delhi, India              IN
2         4              Rohini, West Bengal, India              IN
3         2           North Carolina, United States              US
4         2                    Texas, United States              US

  GEO_ADM1CODE  GEO_LAT  GEO_LONG GEO_FEATUREID  \
0         USVA  38.0421  -76.6236       1464446
1         IN07  28.6667   77.2167      -2094230
2         IN28  22.1667   87.0833      -2109512
3         USNC  35.6411  -79.8431            NC
4         USTX  31.1060  -97.6475            TX

                                       CAMEOEVENTIDS  \
0                                                NaN
1  1021736156,1021736157,1021736162,1021736163,10...
2                   1021699419,1021736161,1021757708
3  1021810540,1021732979,1021697575,1021810962,10...
4  1021791191,1021775366,1021791285,1021791618,10...

                                             SOURCES  \
0                        fox5dc.com;fox10phoenix.com
1                                          scroll.in
2                                       thehindu.com
3                                  wccbcharlotte.com
4  titusvilleherald.com;yahoo.com;mankatofreepres...

                                          SOURCEURLS
0  https://www.fox5dc.com/news/some-stranded-vehi...
1  https://scroll.in/latest/1014249/gauhati-hc-as...
2  https://www.thehindu.com/news/cities/Delhi/man...
3  https://www.wccbcharlotte.com/2022/01/04/north...
4  https://www.titusvilleherald.com/news/state_ne...

In [35]:
globalcounts_20220104.head(5)

,DATE,NUMARTS,COUNTTYPE,NUMBER,OBJECTTYPE,GEO_TYPE,GEO_FULLNAME,GEO_COUNTRYCODE,GEO_ADM1CODE,GEO_LAT,GEO_LONG,GEO_FEATUREID,CAMEOEVENTIDS,SOURCES,SOURCEURLS
0,20220104,2,AFFECT,5,NaN,3,"Carmel Church, Virginia, United States",US,USVA,38.0421,-76.6236,1464446,NaN,fox5dc.com;fox10phoenix.com,https://www.fox5dc.com/news/some-stranded-vehi...
1,20220104,1,CRISISLEX_CRISISLEXREC,48,NaN,4,"Delhi, Delhi, India",IN,IN07,28.6667,77.2167,-2094230,"1021736156,1021736157,1021736162,1021736163,10...",scroll.in,https://scroll.in/latest/1014249/gauhati-hc-as...
2,20220104,1,SOC_GENERALCRIME,20,accused,4,"Rohini, West Bengal, India",IN,IN28,22.1667,87.0833,-2109512,"1021699419,1021736161,1021757708",thehindu.com,https://www.thehindu.com/news/cities/Delhi/man...
3,20220104,1,KILL,524,resident,2,"North Carolina, United States",US,USNC,35.6411,-79.8431,NC,"1021810540,1021732979,1021697575,1021810962,10...",wccbcharlotte.com,https://www.wccbcharlotte.com/2022/01/04/north...
4,20220104,73,AFFECT,35,service members,2,"Texas, United States",US,USTX,31.1060,-97.6475,TX,"1021791191,1021775366,1021791285,1021791618,10...",titusvilleherald.com;yahoo.com;mankatofreepres...,https://www.titusvilleherald.com/news/state_ne...

In [36]:
#Check 
missing_values_count = globalcounts_20220104.isnull().sum()
missing_values_count[:]

DATE                   0
NUMARTS                0
COUNTTYPE              0
NUMBER                 0
OBJECTTYPE         13378
GEO_TYPE               0
GEO_FULLNAME        1544
GEO_COUNTRYCODE     1544
GEO_ADM1CODE        1544
GEO_LAT             1544
GEO_LONG            1544
GEO_FEATUREID       1544
CAMEOEVENTIDS       7278
SOURCES                0
SOURCEURLS             0
dtype: int64

In [38]:
# Filter columns
globalcounts_20220104 = globalcounts_20220104.drop(['OBJECTTYPE'], axis=1)

In [39]:
globalcounts_20220104 = globalcounts_20220104.dropna(axis=0,subset=['CAMEOEVENTIDS'])

In [40]:
missing_values_count = globalcounts_20220104.isnull().sum()
missing_values_count[:]

DATE                 0
NUMARTS              0
COUNTTYPE            0
NUMBER               0
GEO_TYPE             0
GEO_FULLNAME       757
GEO_COUNTRYCODE    757
GEO_ADM1CODE       757
GEO_LAT            757
GEO_LONG           757
GEO_FEATUREID      757
CAMEOEVENTIDS        0
SOURCES              0
SOURCEURLS           0
dtype: int64